
body {
    font-family: -apple-system, "Avenir Next", "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-size:100%;
	margin:0;
	padding:0;
}
html {
    background-color: #eee;
}

.container{
	max-width:700px;
	margin:0 auto;
}

.logo {
	width: 100%;
	height: 70px;
}

.navigation {
	width: 100%;
	margin: 0 auto;
	height: 70px;
	border-radius: 3px;
	background-color: #efefef;
}
/* THIS FORMATS THE NAME IN NAVBAR */
.name {
	float:left;
	font-size: 32px;
	line-height: 70px;
	padding-left: 2%;
    color: #497694;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s ease-in;
    letter-spacing: 0.5px;
}
.name:hover {
	color: #64b8e8;
}

.align-right {
	float:right;
}
.navigation > ul {
    display: table;
    list-style-type: none;
    text-align: center;
    line-height: 70px;
    width: 40%;
    position: relative;
    margin:auto;
}

.navigation > ul > li {
    display: table-cell;
    position: relative;
    width: 100px;
}

.navigation > ul > li:before {
    width: 100%;
    height: 5px;
    display: block;
    bottom: 0;
    position: absolute;
    background-color: #72879A;
    left: 0; right: 0; margin: 0 auto;
}

.navigation> ul > li:hover:after {
    width: 100%;
}

.navigation > ul > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #497694;
    font-size:18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s ease-in;
    letter-spacing: 0.5px;
}

.navigation > ul > li > a:hover {
    color: #64b8e8;
}

.navigation > ul > li:after {
    content: "";
    width: 0;
    height: 5px;
    display: block;
    bottom: 0;
    position: absolute;
    background-color: #64b8e8;
    transition: 0.3s ease-in;
    left: 0; right: 0; margin: 0 auto;
}

.navigation > ul > li:before {
    content: "";
    width: 100%;
    height: 5px;
    display: block;
    bottom: 0;
    position: absolute;
    background-color: #497694;
    left: 0; right: 0; margin: 0 auto;
}

.navigation> ul > li:hover:after {
    width: 100%;
}
