.Post{
	background-color:white;
	border-radius:10px;
	margin-top:20px;
	margin-bottom:10px;
	padding:20px;
	box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
}

.Post_link{
	color:#222;
	text-decoration:none;
	font-weight:300;
}

.Post_comments-header{
	font-size:30px;
	color:#555;
	margin-top:30px;
	margin-bottom:10px;
}

.Post_comment{
	color:#555;
	margin-bottom:5px;
}
